.input {
  & > label {
    color: var(--green);
    font-family: "Catamaran";
    display: block;
  }

  & > * {
    display: block;
  }

  & > label {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &.horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > label {
      display: inline-block;
      margin-right: 1em;
    }
  }

  &.vertical {
    & > label {

    }
  }
}
