.app {
  --bar-height: 3rem;
  --app-border: solid 1px hsl(0, 0%, 90%);
}

.header {
  border-bottom: var(--app-border);

  .leftContent, .rightContent {
    display: flex;
    flex: 1;
  }

  .rightContent {
    justify-content: flex-end;
  }
}

.footer {
  border-top: var(--app-border);
  justify-content: center;
}

.body {
  background-color: hsl(0, 0%, 90%);
  height: calc(100vh - 2*var(--bar-height));
  overflow: hidden;
  position: relative;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.header, .footer, .body {
  display: flex;
  width: 100vw;
  box-sizing: border-box;
}

.header, .footer {
  align-items: center;
  padding: 0 1rem;
  height: var(--bar-height);
}

.appDrawer {
  background-color: var(--app-background);
  border-right: var(--app-border);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15em;

  @media (max-width: 600px) {
    border-right: none;
    border-bottom: var(--app-border);
    display: block;
    height: auto;
    position: absolute;
    top: -100%;
    transition: top 0.2s;
    width: 100%;
    z-index: 10;
  }

  &.drawerToggled {
    top: 0;
  }

  .mainDrawer {
    flex-grow: 1;
  }
}

.content {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  padding: 1em;
  position: relative;
  width: calc(100% - 15em);

  @media (max-width: 600px) {
    width: 100%;
  }
}
